@page "{id:Guid}"
@using iis.Data
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims
@model iis.Pages.Users.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1>Edit</h1>

    <h4>User</h4>
    <hr />
    <div class="card card-body">
        <form method="post">
            <div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="UserModel.Name"  class="control-label"></label>
                            <input type="text" asp-for="UserModel.Name" minlength="3" required class="form-control" />
                            <span asp-validation-for="UserModel.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserModel.UserName" class="control-label">User Name</label>

                            @*<span style="color:red">Username already taken!</span>*@

                            <input type="text" asp-for="UserModel.UserName"  minlength="4" required class="form-control" />
                            <span asp-validation-for="UserModel.UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="UserModel.Address" class="control-label"></label>
                            <input asp-for="UserModel.Address" class="form-control" />
                            <span asp-validation-for="UserModel.Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" required class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <input type="hidden" asp-for="UserModel.Id" />

                <div class="form-group">
                   
                    <input type="password" id="password" asp-for="Password" style="width:16%;" class="collapse" />
                    <input class="btn btn-primary"  type="button" id="passwordBtn" value="Change Password"/>
                    <input type="submit" class="collapse" asp-page-handler="ChangePassword" id="passwordSubmit"/>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                    <input style="width:16%;" class="form-control" type="tel"  required asp-for="PhoneNumber" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group" style="margin-top:3%;">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</div>
<div id="modals">
    <div id="pwDialog" title="Password Change">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="name" class="form-label">Password</label>
                    <input type="password" minlength="8" class="form-control" id="passwordHandle" />
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        document.getElementById("passwordBtn").onclick = function () {
            $("#pwDialog").dialog("open");
            return false;
        }
        $(function () {
            $("#pwDialog").dialog({
                autoOpen: false,
                resizable: false,
                height: "auto",
                width: 450,
                modal: true,
                buttons: {
                    "Change": function () {
                        document.getElementById("password").value = document.getElementById("passwordHandle").value;
                        document.getElementById("passwordSubmit").click();
                        $(this).dialog("close");
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    </script>
}
