@page "{id:int}"
@model iis.Pages.Volunteers.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Volunteer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Volunteer.Id" />
            <div class="form-group">
                <label asp-for="Volunteer.Name" class="control-label"></label>
                <input asp-for="Volunteer.Name" class="form-control" />
                <span asp-validation-for="Volunteer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Address" class="control-label"></label>
                <input asp-for="Volunteer.Address" class="form-control" />
                <span asp-validation-for="Volunteer.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.PhoneNumber" class="control-label"></label>
                <input asp-for="Volunteer.PhoneNumber" class="form-control" />
                <span asp-validation-for="Volunteer.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Email" class="control-label"></label>
                <select asp-for="Volunteer.Email" class="form-control"></select>
                <span asp-validation-for="Volunteer.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Verified" class="control-label"></label>
                <input asp-for="Volunteer.Verified" class="form-control" />
                <span asp-validation-for="Volunteer.Verified" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Volunteer.Verified" /> @Html.DisplayNameFor(model => model.Volunteer.Verified)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Volunteer.Comment" class="control-label"></label>
                <select asp-for="Volunteer.Comment" class="form-control"></select>
                <span asp-validation-for="Volunteer.Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
